$colorletra: #FFFFFF;
$fuentesecundaria: Roboto;
$fuenteprimaria: Times new Roman;
$botonrojo:#49111c;
$camari:#ddd453;
$amari:#ffba08;
$colorpo: #232323;
$esse:#666666;
$botonverde:#232923;
$fondocarta:#2e150c;
$elantes:#047555;
$antetacha:#C05A35;
$elahora:#00A878;
$bajoo:#e0dcdc;
//puntos de quiebre
$telepeque:320px;
$teleM:375px;
$teleL:425px;
$telefono:480px;
$tablet:768px;
$computadora:992px;
$portatil:1024px;
$milaptop:1440px;
$pantallagran:2560px;